# Application
NODE_ENV=development
PORT=3000
BASE_URL=http://localhost
API_VERSION=api/v1

# Data Base
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/<db-name>

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Ticket reservation
TICKET_HOLDING_TTL=10m
