# Application
NODE_ENV=development
PORT=3000
BASE_URL=http://localhost
API_VERSION=api/v1

# Data Base
MONGO_URI=mongodb://localhost:27017/ticket_reservation

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=1554510

# Ticket reservation
TICKET_HOLDING_TTL=10m # 10 minutes session for holding tickets
TICKET_CLEANUP_INTERVAL=1h # Interval for clearing expired bookings
PAYMENT_RETRY_LIMIT=3
